*{
    margin: 0px;
    padding: 0px;
    box-sizing:  border-box;
}
body{
    font-family: Times, serif;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-size: 1.5rem
    

}
h1{
    font-size: 3rem;
    text-align: center;
    
}
img{
    width: 700px;
}
